In [24]:
import csv 
import os
from bs4 import BeautifulSoup as bs
import numpy as np
import pandas as pd
import pymongo
import requests
from splinter import Browser
import time
from selenium import webdriver

In [32]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define database and collection
db = client.mars_db
conn

'mongodb://localhost:27017'

In [75]:
url = 'https://mars.nasa.gov/news/'
time.sleep(2)

In [76]:
browser = Browser('chrome', headless=False)
browser.visit(url)

In [77]:
html = browser.html
soup= bs(html, 'html.parser')

soup  
None

In [80]:
side_panel = soup.find('ul', class_="item_list")
news_title = side_panel.find('h3').getText()
news_title

"NASA's Next Mars Lander Spreads its Solar Wings"

In [79]:
news_p= soup.find('div', class_="article_teaser_body").getText()
news_p

"NASA's next mission to Mars passed a key test Tuesday, extending the solar arrays that will power the InSight spacecraft once it lands on the Red Planet this November."

In [35]:
url_image = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_image)
time.sleep(1)

In [36]:
image = browser.find_by_id('full_image')
image.click()
time.sleep(1)

In [38]:
html = browser.html
soup = bs(html, 'lxml')

In [53]:
find_img = soup.find('div',class_='fancybox-inner')
img = soup.find('img', class_= 'fancybox-image')
extract_img_src = img['src']
featured_image_url
img_nav = 'https://www.jpl.nasa.gov' + extract_img_src
img_nav

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA13664_ip.jpg'

In [34]:
# url_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
# browser = Browser('chrome', headless=False)
# browser.visit(url_image)
# time.sleep(1)
# html = browser.html
# soup = bs(html, 'html.parser')
# articles = soup.find('a', class_ = 'button fancybox')
# browser.click_link_by_partial_text('FULL')
# xpath = '//*[@id="fancybox-lock"]/div/div[1]/img' 
# results = browser.find_by_xpath(xpath)
# img = results['src']
# featuredImage = {'featuredImage': img
#                 }
# jplimg_db.insert_one(featuredImage)

In [55]:
# Display the image with IPython.display
from IPython.display import Image
Image(url= img_nav)
None

In [70]:
url_twitter = 'https://twitter.com/marswxreport?lang=en'
time.sleep(2)
browser = Browser('chrome', headless=False)
browser.visit(url_twitter)
time.sleep(2)
html = browser.html
soup = bs(html, 'html.parser')
mars_weather= soup.find('div', class_='js-tweet-text-container').getText()

In [73]:
clean_tweet = mars_weather.strip()

'Sol 1945 (Jan 25, 2018), Sunny, high -22C/-7F, low -78C/-108F, pressure at 7.51 hPa, daylight 05:43-17:28'

In [82]:
url_fact = 'http://space-facts.com/mars/'
time.sleep(2)
browser = Browser('chrome', headless= False)
browser.visit(url_fact)
html = browser.html
soup = bs(html, 'html.parser')
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))

In [83]:
table = soup.find('table', class_='tablepress tablepress-id-mars')

In [84]:
table

<table class="tablepress tablepress-id-mars" id="tablepress-mars">
<tbody>
<tr class="row-1 odd">
<td class="column-1"><strong>Equatorial Diameter:</strong></td><td class="column-2">6,792 km<br/>
</td>
</tr>
<tr class="row-2 even">
<td class="column-1"><strong>Polar Diameter:</strong></td><td class="column-2">6,752 km<br/>
</td>
</tr>
<tr class="row-3 odd">
<td class="column-1"><strong>Mass:</strong></td><td class="column-2">6.42 x 10^23 kg (10.7% Earth)</td>
</tr>
<tr class="row-4 even">
<td class="column-1"><strong>Moons:</strong></td><td class="column-2">2 (<a href="https://space-facts.com/phobos/">Phobos</a> &amp; <a href="https://space-facts.com/deimos/">Deimos</a>)</td>
</tr>
<tr class="row-5 odd">
<td class="column-1"><strong>Orbit Distance:</strong></td><td class="column-2">227,943,824 km (1.52 AU)</td>
</tr>
<tr class="row-6 even">
<td class="column-1"><strong>Orbit Period:</strong></td><td class="column-2">687 days (1.9 years)<br/>
</td>
</tr>
<tr class="row-7 odd">
<td class="column-1"><strong>Surface Temperature: </strong></td><td class="column-2">-153 to 20 Â°C</td>
</tr>
<tr class="row-8 even">
<td class="column-1"><strong>First Record:</strong></td><td class="column-2">2nd millennium BC</td>
</tr>
<tr class="row-9 odd">
<td class="column-1"><strong>Recorded By:</strong></td><td class="column-2">Egyptian astronomers</td>
</tr>
</tbody>
</table>

In [96]:
df = pd.read_html(str(table))[0]
#df.columns = ['Description','Value']
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 Â°C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [92]:
description_list = df['Description'].tolist()
value_list = df['Value'].tolist()
all_list = zip(description_list, value_list)

mars_dict = {}

for description, value in all_list:
    mars_dict[description] = value
mars_dict

{'Equatorial Diameter:': '6,792 km',
 'First Record:': '2nd millennium BC',
 'Mass:': '6.42 x 10^23 kg (10.7% Earth)',
 'Moons:': '2 (Phobos & Deimos)',
 'Orbit Distance:': '227,943,824 km (1.52 AU)',
 'Orbit Period:': '687 days (1.9 years)',
 'Polar Diameter:': '6,752 km',
 'Recorded By:': 'Egyptian astronomers',
 'Surface Temperature:': '-153 to 20 Â°C'}

In [81]:

df.to_dict()

{'Description': {0: 'Equatorial Diameter:',
  1: 'Polar Diameter:',
  2: 'Mass:',
  3: 'Moons:',
  4: 'Orbit Distance:',
  5: 'Orbit Period:',
  6: 'Surface Temperature:',
  7: 'First Record:',
  8: 'Recorded By:'},
 'Value': {0: '6,792 km',
  1: '6,752 km',
  2: '6.42 x 10^23 kg (10.7% Earth)',
  3: '2 (Phobos & Deimos)',
  4: '227,943,824 km (1.52 AU)',
  5: '687 days (1.9 years)',
  6: '-153 to 20 Â°C',
  7: '2nd millennium BC',
  8: 'Egyptian astronomers'}}

In [15]:
mars_weather

'\nSol 1945 (Jan 25, 2018), Sunny, high -22C/-7F, low -78C/-108F, pressure at 7.51 hPa, daylight 05:43-17:28\n'

In [ ]:
url_hemi = ''